ul 
        { height: 70px;
            /* width: 100px; */
             background-color: aqua;
            list-style-type: none;
           margin: 0;
           padding: 0;}
           /* .ul img{
            height: 100px;
            width: 100px;
           } */
         ul li{
            display: inline-block;
            position: relative;
            padding-left: 10px;
             /* left: 550px; */
            /* margin-left: 5px; */
           }
           ul li a{
            text-decoration: none;
            color: rgb(238, 17, 24);
            display: block;
            padding: 10px;
            
           }
           ul li ul.dropdown 
           {
            display: none;
           }
           ul li:hover{
            background-color: blueviolet;
           }
           ul li:hover ul.dropdown
           {
            display: block;
            position: absolute;
           }
    .header img
    {   
        height: 500px;
        width: 100%;
    }
    img 
    {
        height: 60px;
        width: 60px;
    }
    .bottom img{
    height: 200px;
    width: 200px;
    border: 4px solid rgb(122, 70, 70);
    float: left;
    margin: 15px;}

    .bottom{
    height: 300px;
    width: 100%;
    background-color: rgb(22, 222, 212);
    position: relative;
    }
    .center
    {  
       
        position: absolute;
    top:860px;
    color: rgb(212, 21, 21);
    font-style: italic;
    /* padding-left: 40px; */
    margin-left: 200px;
    }
    .bottom button{
    margin-top: 195px;
    margin-left: -160px;
    float:left;
    border: 1px solid red;
    position:relative;
    font-style: italic;
}
.bottom button:hover
{
    background-color: rgb(236, 161, 0);
}